/* @import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=GFS+Didot&family=Montserrat:wght@500&family=Roboto:wght@100&family=Trocchi&family=Ysabeau+SC:wght@600&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat;
}

@layer utilities {
  .btn-primary {
    @apply bg-tertiary border border-tertiary text-white px-6 py-3 rounded-full hover:bg-green-700;
  }

  .btn-transparent {
    @apply bg-transparent border-white border text-white px-6 py-3 rounded-full hover:bg-green-700;
  }

  .btn-icon {
    @apply bg-transparent border-none mx-4 hover:scale-125 hover:opacity-100 transition-transform;
  }

  .btn-underline {
    @apply bg-transparent underline border-none text-white;
  }

  .hero-bg-style {
    @apply bg-gradient-to-r from-opacity-70 to-opacity-0 bg-cover bg-center;
  }

  .intro-bg-style {
    @apply bg-cover bg-no-repeat bg-right;
    background-image: url("/intro.jpg");
  }

  .consult-bg-style {
    @apply bg-cover bg-no-repeat bg-right;
    background-image: url("/consult.jpg");
  }

  .long-text {
    max-height: 0;
    overflow: hidden;
    display: inline-block;
    transition: max-height 0.3s;
  }

  .expanded {
    max-height: 50rem;
    transition: max-height 2s;
  }
  /* .image-cropper {
    width: 350px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
  } */

  /* .profile-pic {
    display: inline;
    margin: 0 auto;
    margin-left: 10%;
    scale: 140%;
    height: 100%;
    width: auto;
  } */

  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}
