@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans";
}

@layer utilities {
  .btn-primary {
    @apply bg-tertiary border-2 border-white text-white text-xm px-6 py-[10px] rounded-full font-normal cursor-pointer hover:bg-quaternary;
  }

  .btn-transparent {
    @apply bg-transparent border-white border text-white px-6 py-[10px] rounded-full hover:bg-quaternary;
  }

  .btn-icon {
    @apply bg-transparent border-none mx-4 hover:scale-125 hover:opacity-100 transition-transform;
  }

  .btn-selected {
    @apply bg-transparent border-none mx-4 hover:scale-125 transition-transform !fill-primary;
  }

  .btn-underline {
    @apply bg-transparent underline border-none text-white font-light hover:font-semibold;
  }
  .btn-card {
    @apply bg-transparent underline border-none text-primary font-normal text-sm hover:font-semibold;
  }

  .hero-bg-style {
    @apply bg-gradient-to-r from-opacity-70 to-opacity-0 bg-cover bg-center;
  }

  .intro-bg-style {
    @apply bg-cover bg-no-repeat bg-right;
    background-image: url("/intro.jpg");
  }

  .consult-bg-style {
    @apply bg-cover bg-no-repeat bg-right;
    background-image: url("/consult.jpg");
  }

  .hamburger .hamburger-inner,
  .hamburger .hamburger-inner::before,
  .hamburger .hamburger-inner::after,
  .is-active .hamburger-inner,
  .is-active .hamburger-inner::before {
    background-color: white !important;
    color: #fff !important;
  }

  .long-text {
    max-height: 0;
    overflow: hidden;
    display: block;
    transition: max-height 0.3s;
  }

  .expanded {
    max-height: 120rem;
    transition: max-height 2s;
  }

  /* .image-cropper {
    width: 350px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
  } */

  /* .profile-pic {
    display: inline;
    margin: 0 auto;
    margin-left: 10%;
    scale: 140%;
    height: 100%;
    width: auto;
  } */

  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply text-slate-gray text-lg leading-7;
  }
}

.text-pretty {
  text-wrap: pretty;
}
